.mb-0 {
    margin-bottom: 0 !important;
}
.table-outline {
    border: 1px solid #cfd8dc;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
}
table {
    border-collapse: collapse;
    background-color: transparent;
}

.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #cfd8dc;
}



thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #cfd8dc;
}

.thead-default th {
    color: #607d8b;
    background-color: #cfd8dc;
}

.text-muted {
    color: #b0bec5 !important;
}

.delete-account {
    position: absolute;
    right: 0;
    top: 5px;
    cursor: pointer;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #20a8d8;
    border-color: #20a8d8;
}

.btn-outline-primary {
    color: #20a8d8;
    background-color: #fff;
    border-color: #20a8d8;
}